set timeout=10
set default=0

menuentry "Maqui Linux 26.4 (Live)" {
  linux /boot/vmlinuz root=live:CDLABEL=MAQUILINUX_264 rd.live.image console=ttyS0
  initrd /boot/initramfs.img
}

menuentry "Maqui Linux 26.4 (Live - Debug)" {
  linux /boot/vmlinuz root=live:CDLABEL=MAQUILINUX_264 rd.live.image rd.debug rd.shell console=ttyS0
  initrd /boot/initramfs.img
}
